force-app/main/default/flows/account_add_opps_2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>add_opp_to_create_to_collection</name>
        <label>add opp to create to collection</label>
        <locationX>666</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>opps_to_create_collection</assignToReference>
            <operator>Add</operator>
        </assignmentItems>
        <connector>
            <targetReference>assign_opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>set values in entry of opps_to_create collection</description>
        <name>assign_opp</name>
        <label>assign opp</label>
        <locationX>666</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>opps_to_create.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!get_account_fields.Name} &amp; &apos;-2021-&apos;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opps_to_create.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opps_to_create.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Prospecting</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>debug_loop_count_screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>debug_in_opp_create_loop_counter</name>
        <label>debug_in_opp_create_loop_counter</label>
        <locationX>666</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>debug_loop_count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>opps_to_create</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>initialize_opps_collection_months</name>
        <label>initialize opps collection and months</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>opps_to_create_collection</assignToReference>
            <operator>Add</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>months</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>months</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>opps_to_create</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>opps_count_actual_year</name>
        <label>opps count actual year</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>opp_count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_existing_opps_for_this_year</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>debug_info_start</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Delete or create opps (for testing only)</description>
        <name>Delete_or_create</name>
        <label>Delete or create?</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>debug_now_in_create_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create opps loop</defaultConnectorLabel>
        <rules>
            <name>Create_opps</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>delete_opps</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>debug_now_in_delete_screen</targetReference>
            </connector>
            <label>Delete opps</label>
        </rules>
        <rules>
            <name>create_opps_noloop</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>debug_no_loop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>create opps noloop</label>
        </rules>
    </decisions>
    <formulas>
        <description>[Account.name]-[current year]-</description>
        <name>opp_name_account_year</name>
        <dataType>String</dataType>
        <expression>{!AccountID_to_create_opps_for}</expression>
    </formulas>
    <interviewLabel>account - add opps 2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>account - add opps 2</label>
    <loops>
        <description>Delete opps for current year</description>
        <name>Delete_existing_opps</name>
        <label>Delete existing opps</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <collectionReference>Get_existing_opps_for_this_year</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>info_opps_to_delete</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <description>Collection for the opps to create</description>
        <name>opps_to_create</name>
        <label>opps to create</label>
        <locationX>578</locationX>
        <locationY>1118</locationY>
        <collectionReference>opps_to_create_collection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>add_opp_to_create_to_collection</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>get account fields of the account we want to create opps for</description>
        <name>get_account_fields</name>
        <label>get account fields</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_existing_opps_for_this_year</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID_to_create_opps_for</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Look if there are already opps for this year</description>
        <name>Get_existing_opps_for_this_year</name>
        <label>Get existing opps for this year</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>opps_count_actual_year</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID_to_create_opps_for</elementReference>
            </value>
        </filters>
        <filters>
            <field>CloseDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>CloseDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <description>Create all Opps for this year</description>
        <name>Create_standard_Opps_for_Account</name>
        <label>Create standard Opps for Account</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>get_account_fields</targetReference>
        </connector>
        <fields>
            <name>AccountID_to_create_opps_for</name>
            <dataType>String</dataType>
            <fieldText>AccountID to create opps for</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>delete_opps</name>
            <dataType>Boolean</dataType>
            <fieldText>Delete existing opps?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>debug_no_loop</name>
            <dataType>Boolean</dataType>
            <fieldText>debug no loop</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>debug_info_start</name>
        <label>debug info start</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Delete_or_create</targetReference>
        </connector>
        <fields>
            <name>info_account</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>get_account_fields.Name</elementReference>
            </defaultValue>
            <fieldText>info account</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>info_deleted</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>delete_opps</elementReference>
            </defaultValue>
            <fieldText>info deleted</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>info_opps</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>opp_count</elementReference>
            </defaultValue>
            <fieldText>info opps current year</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>debug_loop_count_screen</name>
        <label>debug_loop_count_screen</label>
        <locationX>666</locationX>
        <locationY>1478</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>debug_in_opp_create_loop_counter</targetReference>
        </connector>
        <fields>
            <name>debug_loop_count_field</name>
            <dataType>String</dataType>
            <fieldText>debug loop count</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>debug_now_in_create_screen</name>
        <label>debug now in create</label>
        <locationX>578</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>initialize_opps_collection_months</targetReference>
        </connector>
        <fields>
            <name>debug_now_in_create</name>
            <fieldText>&lt;p&gt;Now in create!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>debug_now_in_delete_screen</name>
        <label>debug now in delete</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Delete_existing_opps</targetReference>
        </connector>
        <fields>
            <name>debug_now_in_delete</name>
            <fieldText>&lt;p&gt;Now in delete!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>info_opps_to_delete</name>
        <label>info opps to delete</label>
        <locationX>138</locationX>
        <locationY>1118</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Delete_existing_opps</targetReference>
        </connector>
        <fields>
            <name>info_delete_opps</name>
            <fieldText>&lt;p&gt;This opps will be deleted:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>opp_to_delete_info</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Delete_existing_opps.Name</elementReference>
            </defaultValue>
            <fieldText>opp to delete info</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_standard_Opps_for_Account</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>debug_loop_count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Delete</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>months</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>opp_count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>variable to store opps we want to create</description>
        <name>opps_to_create_collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <description>List of year-month</description>
        <name>year_month</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
